
CREATE TABLE [dbo].[Car_store](
	[store_cd] [int]PRIMARY KEY NOT NULL,
	[store_addr] [nvarchar](50) NOT NULL
	)

GO
INSERT [dbo].[Car_store] ([store_cd], [store_addr]) VALUES (2001, N'서울시 강남구')
INSERT [dbo].[Car_store] ([store_cd], [store_addr]) VALUES (2002, N'대전시 유성구')
INSERT [dbo].[Car_store] ([store_cd], [store_addr]) VALUES (2003, N'인천시 서구')
GO
