
CREATE TABLE [dbo].[Car_order](
	[order_no] [int] PRIMARY KEY NOT NULL,
	[mem_no] [int] NOT NULL,
	[order_date] [date] NOT NULL,
	[store_cd] [int] NOT NULL,
)
GO
INSERT [dbo].[Car_order] ([order_no], [mem_no], [order_date], [store_cd]) VALUES (2000001, 1001582, CAST(N'2020-01-11' AS Date), 2003)
INSERT [dbo].[Car_order] ([order_no], [mem_no], [order_date], [store_cd]) VALUES (2000003, 1001583, CAST(N'2020-01-13' AS Date), 2003)
INSERT [dbo].[Car_order] ([order_no], [mem_no], [order_date], [store_cd]) VALUES (2000004, 1001581, CAST(N'2020-01-14' AS Date), 2001)
GO
ALTER TABLE [dbo].[Car_order]  WITH CHECK ADD  CONSTRAINT [FK_Car_order_Car_member] FOREIGN KEY([mem_no])
REFERENCES [dbo].[Car_member] ([mem_no])
GO
ALTER TABLE [dbo].[Car_order] CHECK CONSTRAINT [FK_Car_order_Car_member]
GO
ALTER TABLE [dbo].[Car_order]  WITH CHECK ADD  CONSTRAINT [FK_Car_order_Car_store] FOREIGN KEY([store_cd])
REFERENCES [dbo].[Car_store] ([store_cd])
GO
ALTER TABLE [dbo].[Car_order] CHECK CONSTRAINT [FK_Car_order_Car_store]
GO
